.top-transparent-header {
  .header-top-area-wrapper {
    background: transparent;
    border-bottom: 1px solid #ededed;

    * {
      color: #1c2539 !important;
    }

    .header-top-one-wrapper {
      .right {
        p {
          margin: 0;
          color: #5d666f;

          a {
            font-weight: 600;
            color: var(--color-primary) !important;
            i {
              color: var(--color-primary) !important;
            }
          }
        }
      }
      .left {
        a {
          font-weight: 600;
          &:hover {
            color: var(--color-primary) !important;
          }
        }
      }
    }
  }
}
